<div class="container">
    <link rel="stylesheet" href="./us.css">
    <center>
    <div class="heading">Sign Up</div>
    <form action="" class="form">
      <input required="" class="input" type="Name" name="Name" id="Name" placeholder="Name">
      <input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
      <input required="" class="input" type="password" name="password" id="password" placeholder="Password" minlength="8">
      <input required="" class="input" type="Cpassword" name="Cpassword" id="Cpassword" placeholder=" Confirm Password" minlength="8">
      <a class="login-button" type="submit" value="Sign up" href="http://127.0.0.1:5001/">Sign Up</a>
      
    </form>
    <div class="social-account-container">
        
        
      </div>
    </center>
  </div>
